<router-outlet *ngIf="childActive$()"></router-outlet>
<div *ngIf="!childActive$()" class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading$()"></mat-progress-bar>
  <div class="gallery">
    <!-- toDO Could you improve the styling to be responsive? -->
    <ng-container *ngFor="let photo of photos$ | async">
      <redstor-gallery-card
        [photos]="photo"
        [ImgSrc]="photo.urls.small"
        [altDescription]="photo.alt_description"
        [dynamicContent]="'LIKES' | translate"
        [likes]="photo.likes"
        (handleClick)="handleGotoPhoto($event)"
      ></redstor-gallery-card>
    </ng-container>
  </div>
</div>
