<div class="layout-container">
  <!-- toDo Could you optimise this piece of code? -->
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-paginator
    [length]="length()"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 30]"
    (page)="handlePageEvent($event)"
  ></mat-paginator>
  <div class="gallery">
    <!-- toDo Is there another way to rewrite this with new Angular 17 features? -->
    @for(collection of collections(); track collection.id) {
        <!-- toDO Could you improve the styling to be responsive? -->
        <redstor-gallery-card
          [photos]="collection"
          [ImgSrc]="collection.cover_photo.urls.small"
          [altDescription]="collection.cover_photo.description"
          (handleClick)="handleRouting($event)"
        ></redstor-gallery-card>
    } @empty {
      <div>No Items Available!</div>
    }
  </div>
</div>
